$wiresHeight: 200px;
$containerWidth: 30000px;

.wiresPoleWrapper {
  display: flex;
  align-items: end;

  .wiresPoleContainer {
    position: absolute;
    display: flex;
    width: $containerWidth;
    height: 100%;
    top: 15svh;
    z-index: 120;
    animation: wiresParallax 2s linear infinite;

    .pole {
      width: 15px;
      height: 110svh;
      background: black;
      position: relative;
      border-radius: 20px;

      &::before {
        content: "";
        position: absolute;
        top: 25px;
        left: 15px;
        width: 15px;
        height: 55px;
        background: black;
      }
    }

    .wires {
      width: calc($containerWidth / 2);
      margin: 0 -10px 0 0;

      .wire {
        margin: calc(($wiresHeight / -2) + 30px) 0 calc(10px - $wiresHeight) 0;
        height: $wiresHeight;
        border-radius: 50%;
        border-bottom: 1px solid black;
      }
    }
  }
}

@keyframes wiresParallax {
  from {
    margin-left: 0px;
  }

  to {
    margin-left: calc($containerWidth / 2 * -1);
  }
}
